body {
    background-color: #f1f1f1;
    
}

hr.styleTwo {
    border-top: 3px solid #198754;
}

.footerLink {
    float: left; 
    margin-left: 20px; 
    margin-bottom: 20px; 
}

.navbar-toggler {
    position: absolute; 
    left: 20px;
    top: 30px;
}

.navbar-toggler-icon {
    font-size:35px;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 25px;
}
h5 {
    font-size: 18px;
}

.stringMaisBuscada{
    font-size: 18px;
}

@media all and (max-device-width: 720px){
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 32px;
    }
    h5, .stringMaisBuscada  {
        font-size: 20px;
    }
}

@media all and (max-device-width: 640px){
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 40px;
    }
    h5, .stringMaisBuscada {
        font-size: 35px;
    }
}

@media all and (max-device-width: 320px){
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 55px;
    }
    h3 {
        font-size: 48px;
    }
    h5, .stringMaisBuscada  {
        font-size: 39px;
    }
}

.linkArea {
    background-color: #000;
    flex-direction: row;
}

.tagButton {
    font-size: 13px;
    margin-top: 5px;
    margin-left: 3px;
}

/* .navbar .sticky-top {
    flex-direction: column; 
    background-color: #FFF; 
    justify-content: center; 
    align-items: flex-end; 
    border-bottom: 2px solid #198754;
} */